In [ ]:
import numpy as np
import pandas as pd

###**Pandas Series**
Series is a data structure in Py.

`Creating Pandas Series:`

In [ ]:
labels = ['a','b','c']
my_list = [5,10,12]
arr = np.array([5,10,12])
d = {'a':5, 'b':10, 'c':12}

In [ ]:
'''Passing into pd.Series() method for converting into series data structure'''
series = pd.Series(my_list)
print(series)
type(pd.Series(my_list))
# """ second column for labeling the 1st column i.e., 'my_list'

`adding labels`

In [ ]:
pd.Series(my_list, index= labels)
#lables that we created earlier

`accessing through index/labels`

In [ ]:
series = pd.Series(my_list, index = labels)
S_index = series[0] #RETURN 5
S_labels = series['a'] # also RETURN 5
print("Index = {}, Label = {}".format(S_index,S_labels))

We can also directly create a Pandas Series by putting **dictionary** in .Series() method for labeling.

In [ ]:
pd.Series(d)

###T**he Main Advantage of Pandas Series Over NumPy Arrays**
NumPy array elements must be all string, or all integers, or all booleans - you get the point.


---


Pandas Series do not suffer from this limitation. In fact, pandas Series are highly flexible.

In [ ]:
pd.Series([sum, print, len])

###**Pandas DataFrame**
Another Data Structure of Pd in Py for 2D Arrays.

more than one series in a sheet is Dataframe.

`
It provide labels to both: rows and columns.
`

In [ ]:
data = [
        ["Sanidhya","*#@4?","B.Tech","CSE","2019/23"],
        ["Rishabh",3,"BBA","LLB","2019/24"],
        ["Ayush",4,5,"CSE",7]
       ]
'''data that has to be put into the Matrix/DataFrame.'''
d_frame_basic = pd.DataFrame(data)
d_frame_basic

###Indexing and Labeling The DataFrame

In [ ]:
rows_index = ['S1','S2', 'S3']
cols_index = ['Name', 'E.No.', 'Course', 'Branch', 'Batch']

d_frame = pd.DataFrame(data, index = rows_index, columns= cols_index)
# or just-> d_frame"= pd.DataFrame(data, rows_index, cols_index)

d_frame

####**Indexing and Assignment in Pandas DataFrames**

In [ ]:
name = d_frame['Name']
'''Basically It works like a LIST'''
name_R = d_frame['Name']['S3']
print(name,"\n--**- S3-",name_R)

```
-> Select multiple column from DFüòè
```

In [ ]:
multi_cols = d_frame[['Name', 'Branch']]
multi_cols

**CREATE or DEL columns in dataframe**

In [ ]:
'''Here we create a New Column'''

d_frame['Course(Branch)'] = d_frame['Course']
d_frame

To access a specific row in a DataFrame :
use '.loc[]' attribute

In [ ]:
d_frame_basic.loc[1] #accessing '1' indexed row

In [ ]:
row_Series_1 = d_frame.loc['S2'] #This returns a pandas Series
row_df_1 = d_frame.loc[['S2']] #This returns a pandas Dataframe
print("row_series:\n",row_Series_1)
print("\nrow_df:\n")
row_df_1

In [ ]:
d_frame.loc[['S2','S3']] #this returns 2 rows (i.e., a DataFrame)

###**Read CSV file**
csv stands for *comma separated values*

In [ ]:
'''uploading csv file in colab'''
from google.colab import files
upload = files.upload()

###loading csv into a dataframe

In [ ]:
df = pd.read_csv('data.csv') #here file name is data.csv
df

In [ ]:
print(df.to_string()) #convert data into a string to print entire dataframe

To get the quick over view of the dataframe, use head() method

It returns the headers and a specified number of rows, starting from the top.

In [ ]:
df.head()
#df.head(10) to show 10 elements rows of the dataframe

In [ ]:
df.tail()

###to get the information about the data use .info() method

using this you can get the Columns name and get to know about it

like its DataType, size, space, total entries.

In [ ]:
df.info()